.about {
    // box model
    padding: 20px;
    padding-bottom: 200px;
    margin-bottom: -160px;

    // visual
    background-image: url('./img/bgs/about-s.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include atTablet {
        // box model
        padding: 40px;
        padding-bottom: 80px;
    }

    @include atDesktopS {
        // box model
        margin-top: -100px;
        padding: 200px 40px;

        // visual
        background-image: url('./img/bgs/about-l.jpg');
    }
}

.about__content {
    @include atTablet {
        // box model
        display: flex;
        justify-content: space-between;
    }
}

.about__caption {
    // box model
    margin-bottom: 40px;

    @include atTablet {
        // box model
        flex-basis: 47.5%;
    }
}

.about__title {
    // typography
    color: $grey;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;

    @include atTablet {
        // typography
        text-align: left;
    }
}

.about__title em {
    // typography
    color: $red;
    font-style: normal;
}

.about__subtitle {
    // typography
    font-weight: 600;
    letter-spacing: 0.025em;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;

    @include atTablet {
        // typography
        text-align: left;
    }
}

.about__text {
    // box model
    padding-left: 21px;

    // typography
    line-height: 1.5;

    // border
    border-left: 1px solid $red;

    @include atDesktopL {
        // typography
        line-height: 1.75;
    }
}

.about__photo {
    // positioning
    position: relative;

    // box model
    height: 100vw;
    max-height: 400px;
    margin: 0 -20px;
    margin-bottom: 40px;

    @include atTablet {
        // box model
        flex-basis: 47.5%;
        margin: 0;
    }
}

.about__photo img {
    // box model
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__deco {
    // positioning
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    top: 20px;

    // borders
    border: 2px solid $white;
}

.about__deco::before {
    content: "";

    // positioning
    position: absolute;
    right: 20px;
    top: 20px;

    // box model
    height: 84px;
    width: 84px;

    // visual
    background-image: url('./img/logo-white.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.about__deco::after {
    content: "";

    // positioning
    position: absolute;
    bottom: 5px;
    right: 5px;

    // box model
    height: 64px;
    width: 240px;

    // visual
    background-image: url('./img/decos/beard-bro-u.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.about__more {
    // typography
    text-align: center;

    @include atTablet {
        // box model
        text-align: left;
    }
}

.about__more-text {
    // box model
    margin-bottom: 2rem;

    // typography
    font-weight: 600;
    letter-spacing: 0.025em;
    line-height: 1.5;
    text-transform: uppercase;
}
