.barbers {
    // box model
    padding: 20px;
    margin-bottom: 50px;
}

.barbers__header {

}

.barbers__content {
    @include atTablet {
        // box model
        display: flex;
    }

    @include atDesktopM {
        // box model
        padding: 20px calc((100% - 1120px) / 2);
    }
}
