.feature {
    // box model
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 280px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        margin: 0;
        padding: 0 10px;
        flex-basis: 250px;
        flex-basis: 33%;
    }

    @include atDesktopS {
        // box model
        margin: 0;
        max-width: inherit;
        padding: 0;
        padding-right: 15px;

        // typography
        text-align: left;
    }

    @include atDesktopL {
        // box model
        padding-right: 60px;
    }
}

.feature:last-child {
    // box model
    padding-right: 0;
}

.feature__icon {
    // box model
    height: 72px;
    margin-bottom: 1rem;
}

.feature__icon svg {
    // box model
    height: 100%;

    // visual
    fill: $grey;
}

.feature__title {
    // box model
    margin: 0;
    margin-bottom: 0.25em;

    // typography
    font-weight: 600;
    letter-spacing: 0.025em;
    line-height: 1.5;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 0.75rem;
    }

    @include atDesktopM {
        // typography
        font-size: 0.95rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1rem;
    }
}

.feature__desc {
    // box model
    margin: 0;

    // typography
    color: $grey;
    line-height: 1.5;

    @include atTablet {
        // typography
        font-size: 0.85rem;
    }

    @include atDesktopS {
        // typography
        font-size: 0.75rem;
    }

    @include atDesktopM {
        // typography
        font-size: 0.95rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1rem;
    }
}
