.footer {
    // box model
    padding: 20px;
    padding-top: 50px;

    // visual
    background-image: url('./img/bgs/footer-s.jpg');
    background-size: cover;
    background-position: center center;

    @include atDesktopS {
        // box model
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        padding-top: 80px;
    }

    @include atDesktopM {
        // box model
        padding: 80px calc((100% - 1120px) / 2);

        // visual
        background-image: url('./img/bgs/footer-l.jpg');
    }

    @include atDesktopL {
        // box model
        padding: 80px calc((100% - 1400px) / 2);
    }
}

.footer__brand-n-nav {
    // box model
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

    @include atDesktopS {
        // box model
        flex-basis: 40%;
        margin-bottom: 0;
    }
}

.footer__branding {
    // box model
    flex-basis: 45%;

    // typography
    text-align: center;

    @include atDesktopS {
        // box model
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.footer__logo {
    // box model
    height: 100px;
    margin-bottom: 1rem;
}

.footer__logo svg {
    // box model
    height: 100%;
}

.footer__motto {
    // box model
    margin: 0;

    // typography
    color: $grey;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
}

.footer__copy {
    // typography
    color: $grey;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    @include atDesktopS {
        // box model
        margin-top: 2.5rem;
    }
}

.footer__nav {
    // box model
    flex-basis: 45%;
}

.footer__contacts-n-legals{
    // box model
    margin-bottom: 60px;

    @include atDesktopS {
        // box model
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 60%;
        margin-bottom: 0;
    }
}

.footer__contacts {
    // box model
    padding-bottom: 14px;
    margin-bottom: 30px;

    // typography
    text-align: center;

    // border
    border-bottom: 1px solid $darkGrey;

    @include atDesktopS {
        // box model
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }
}

.footer__legals {
    // typography
    font-size: 0.75rem;

    @include atDesktopS {
        // box model
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
    }
}

.footer__legals-item {
    // box model
    margin-bottom: 1rem;

    // typography
    text-align: center;
    line-height: 1.5;

    @include atDesktopS {
        // box model
        padding: 0 10px;
        flex-basis: 50%;
    }
}

.footer__legals-item a {
    // typography
    color: $white;
}

.footer__legals-item a:hover {
    // typography
    color: $red;
    text-decoration: none;
}
