.footer-contact {
    // box model
    margin-bottom: 1rem;

    // typography
    line-height: 1.5;

    @include atDesktopS {
        // box model
        padding: 0 10px;
        flex-basis: 50%;
    }
}

.footer-contact strong {
    // typography
    font-weight: 600;
}

.footer-contact em {
    // typography
    color: $red;
    font-style: normal;
    text-decoration: none;
}

.footer-contact a {
    // typography
    color: $white;
    text-decoration: none;
}

.footer-contact a:hover {
    // typography
    text-decoration: underline;
}
