.header {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-height: 600px;
    margin-bottom: 60px;
    padding: 20px;
    padding-bottom: 120px;

    // visual
    background-image: url('./img/bgs/header-s.jpg');
    background-position: top right -280px;
    background-size: cover;
    background-repeat: no-repeat;

    @include atTablet {
        // box model
        margin-bottom: 40px;
        padding: 40px;
        height: calc(100vh - 380px);

        // visual
        background-position: top right;
        background-size: 140%;
    }

    @include atDesktopS {
        // box model
        height: 100vh;
        max-height: 800px;
        // padding-bottom: 80px;

        // visual
        background-image: url('./img/bgs/header-l.jpg');
        background-size: contain;
        background-position: top center;
    }

    @include atDesktopM {
        // box model
        padding: 60px calc((100% - 1120px) / 2);
    }

    @include atDesktopL {
        // box model
        padding: 60px calc((100% - 1400px) / 2);
        max-height: 1000px;
    }
}

.header__top {
    // box model
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    flex-grow: 0;

    // visual
    background-image: url('./img/decos/premium-quality.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    @include atTablet {
        // box model
        padding-bottom: 20px;
        margin-bottom: 80px;

        // visual
        background-position: bottom left 100px;
        background-size: 160px;
    }

    @include atDesktopS {
        // box model
        align-items: flex-start;
    }

    @include atDesktopM {
        // box model
        margin-bottom: 120px;

        // visual
        background-position: bottom left 140px;
        background-size: 200px;
    }
}

.header__logo {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    height: 72px;
    // border: 2px solid fuchsia;

    @include atTablet {
        // box model
        height: 100px;
    }

    @include atDesktopM {
        // box model
        height: 140px;
    }
}

.header__logo img,
.header__logo svg {
    // box model
    height: 100%;
    // width: 100%;
}

.header__nav {
    // positioning
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    transform: translateY(-110%);
    
    // visual
    opacity: 0.5;
    transition: all 0.25s ease-out;
    
    @include atDesktopS {
        // positioning
        position: relative;
        transform: none;
        
        // visual
        opacity: 1;
    }
    
    @include atDesktopM {
        // box model
        margin-right: -25px;
    }
}

.header__nav--open {
    // positioning
    transform: translateY(0);

    // visual
    opacity: 1;
}

.header__menu-button {
    // positioning
    position: relative;
    z-index: 1;
    
    @include atDesktopS {
        // box model
        display: none;
    }
}

.header__content {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 10;
}

.header__caption {
    // box model
    margin-bottom: 40px;
    max-width: 300px;

    @include atTablet {
        // box model
        max-width: 450px;
    }

    @include atDesktopM {
        // box model
        max-width: 540px;
        margin-bottom: 80px;
    }

    @include atDesktopL {
        // box model
        max-width: 600px;
    }
}

.header__title {
    // box model
    margin: 0;
    margin-bottom: 0.25em;

    // typography
    font-size: 2rem;
    letter-spacing: 0.025em;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 3rem;
    }

    @include atDesktopS {
        // typography
        font-size: 2.5rem;
    }

    @include atDesktopM {
        // typography
        font-size: 3.5rem;
    }
}

.header__subtitle {
    // box model
    margin: 0;
    margin-bottom: 0.5rem;
    margin-bottom: 1rem;

    // typography
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    line-height: 1.4;
    text-transform: uppercase;

    @include atDesktopM {
        // box model
        font-size: 1.25rem;

        // typography
        letter-spacing: 0.05em;
    }
}

.header__subtitle em {
    // typography
    color: $red;
    font-style: normal;
}

.header__text {
    // box model
    margin: 0;

    // typography
    color: rgba($white, 0.75);
    line-height: 1.5;
}

.header__online {
    // positioning
    position: relative;

    // box model
    padding-bottom: 50px;

    // typography
    text-align: center;

    @include atDesktopS {
        // typography
        text-align: left;
    }
}

.header__online::after {
    content: '';

    // positioning
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    // box model
    width: 220px;
    height: 100px;

    // visual
    background-image: url('./img/decos/like-a-sir-u.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;

    // other
    pointer-events: none;

    @include atDesktopS {
        // positioning
        transform: none;
        left: 140px;
    }

    @include atDesktopM {
        // box model
        width: 260px;
    }
}

.header__social {
    // positioning
    position: absolute;
    left: 20px;
    top: 110px;

    // box model
    display: flex;


    @include atTablet {
        // positioning
        left: 40px;
        top: 160px;
    }

    @include atDesktopS {
        // positioning
        left: 40px;
        top: 240px;
    }

    @include atDesktopM {
        // positioning
        left: calc((100% - 1120px) / 2);
        top: 240px;
    }

    @include atDesktopL {
        // positioning
        left: calc((100% - 1400px) / 2);
    }
}


.header__social-link {
    // box model
    display: inline-block;
    vertical-align: top;
    height: 24px;
    width: 24px;
    margin-right: 1rem;
    margin-bottom: 16px;

    // visual
    transition: all 0.25s ease-out;

    @include atTablet {
        // box model
        height: 28px;
        width: 28px;
    }
}

.header__social-link:hover {
    // visual
    opacity: 0.5;
}

.header__social-text {
    // typography
    font-size: 0;
}

.header__social-icon {
    // box model
    height: 100%;
    width: 100%;

}

.header__social-icon svg {
    // box model
    height: 100%;
    width: 100%;
}
