.header {
    // box model
    padding: 20px;
    padding-bottom: 120px;
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // visual
    background-image: url('./img/bgs/header-s.jpg');
    background-position: top right -280px;
    background-size: cover;
    background-repeat: no-repeat;

    @include atTablet {
        // box model
        padding: 40px;
        padding-bottom: 80px;
        height: calc(100vh - 340px);

        // visual
        background-position: top right;
        background-size: 140%;
    }

    @include atDesktopS {
        // box model
        height: 100vh;
        max-height: 800px;

        // visual
        background-image: url('./img/bgs/header-l.jpg');
        background-size: contain;
        background-position: top right;
    }
}

.header__top {
    // box model
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    flex-grow: 0;

    // visual
    background-image: url('./img/decos/premium-quality.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    @include atTablet {
        // box model
        padding-bottom: 20px;

        // visual
        background-position: bottom left 60px;
        background-size: 160px;
    }

    @include atDesktopS {
        // box model
        align-items: flex-start;
    }
}

.header__logo {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    height: 72px;

    @include atTablet {
        // box model
        height: 100px;
    }
}

.header__logo img,
.header__logo svg {
    // box model
    height: 100%;
}

.header__nav {
    // positioning
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;

    @include atDesktopS {
        // positioning
        position: relative;
    }
}

.header__menu-button {
    // positioning
    position: relative;
    z-index: 1;

    @include atDesktopS {
        // box model
        display: none;
    }
}

.header__content {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 10;
}

.header__caption {
    // box model
    margin-bottom: 40px;
    max-width: 300px;

    @include atTablet {
        // box model
        max-width: 450px;
    }
}

.header__title {
    // box model
    margin: 0;
    margin-bottom: 0.25em;

    // typography
    font-size: 2rem;
    letter-spacing: 0.025em;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 3rem;
    }

    @include atDesktopS {
        // typography
        font-size: 2.5rem;
    }
}

.header__subtitle {
    // box model
    margin: 0;
    margin-bottom: 0.5rem;
    margin-bottom: 1rem;

    // typography
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    line-height: 1.4;
    text-transform: uppercase;
}

.header__subtitle em {
    // typography
    color: $red;
    font-style: normal;
}

.header__text {
    // box model
    margin: 0;

    // typography
    color: rgba($white, 0.75);
    line-height: 1.5;
}

.header__online {
    // positioning
    position: relative;

    // box model
    padding-bottom: 50px;

    // typography
    text-align: center;

    @include atDesktopS {
        // typography
        text-align: left;
    }
}

.header__online::after {
    content: '';

    // positioning
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    // box model
    width: 220px;
    height: 100px;

    // visual
    background-image: url('./img/decos/like-a-sir-u.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;

    // other
    pointer-events: none;

    @include atDesktopS {
        // positioning
        transform: none;
        left: 140px;
    }
}

