.mobile-button {
    // box model
    display: inline-block;
    vertical-align: top;
    padding: 0;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 1rem;

    // typography
    color: $white;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    text-decoration: none;

    // border
    border: 2px solid $white;
    border-radius: 24px;

    // visual
    transition: all 0.25s ease-out;

    @include atDesktopL {
        // box model
        margin-right: 30px;

        // typography
        line-height: 50px;

        // border
        border-radius: 26px;
    }
}

.mobile-button:hover {
    // typography
    color: $black;

    // visual
    background-color: $white;
}

.mobile-button--ios {
    // typography
    letter-spacing: 0.15em;
}

.mobile-button--android {

}
