.partners {
    // box model
    padding: 20px;
    margin-bottom: 60px;

    @include atTablet {
        // box model
        padding: 40px;
        margin-bottom: 40px;
    }
}

.partners__header {
    // box model
    margin-bottom: 20px;
}

.partners__content {
    // box model
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 360px;
    margin: 0 auto;

    @include atTablet {
        // box model
        justify-content: center;
        max-width: inherit;
    }
}

