.partner {
    // box model
    flex-basis: 45%;
    margin-bottom: 20px;
    height: 100px;

    // typography
    text-align: center;

    // visual
    opacity: 0.65;
    transition: all 0.25s ease-out;

    @include atTablet {
        // box model
        flex-basis: 220px;
        padding: 0 20px;
    }
}

.partner:hover {
    // visual
    opacity: 1;
}

.partner img {
    // box model
    height: 100%;
    max-width: 100%;
    object-position: center;
    object-fit: contain;
}
