.price-list {
    // box model
    padding: 20px;
    margin-bottom: 60px;

    @include atTablet {
        // box model
        padding: 40px;
    }

    @include atDesktopL {
        // box model
        margin-bottom: 120px;
    }
}

.price-list__header {
    // positioning
    position: relative;
    z-index: 3;
}

.price-list__content {
    // box model
    max-width: 800px;
    margin: 0 auto;

    @include atDesktopL {
        // box model
        max-width: 900px;
    }
}

