.prices {
    // box model
    width: 100%;

    // border
    border-collapse: collapse;
}

.prices td {
    // box model
    padding: 0;
    padding-bottom: 0.35rem;
    padding-top: 1.25rem;
    vertical-align: top;

    // typography
    font-weight: 600;
    line-height: 1.25;

    // border
    border-bottom: 1px solid $darkGrey;

    @include atDesktopL {
        // typography
        font-size: 1.125rem;
    }
}

.prices td:first-child {
    // box model
    padding-right: 20px;
}

.prices td:last-child {
    // typography
    white-space: nowrap;
    text-align: right;
}

.prices td:last-child::after {
    content: " ₽";
}
