.promo {
    // positioning
    position: relative;

    // box model
    margin-bottom: 25px;

    // typography
    text-align: center;

    // visual
    background-color: $darkGrey;

    @include atTablet {
        // box model
        flex-basis: 45%;
        margin: 0 10px;
    }

    @include atDesktopL {
        // box model
        margin: 0 20px;
    }
}

.promo__header {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    padding: 25px;

    // visual
    background-color: rgba($black, 0.5);

    @include atTablet {
        // box model
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 40px 25px;
    }
}

.promo__value {
    // box model
    margin: 0;
    margin-bottom: 1rem;

    // typography
    font-size: 3rem;
    font-weight: 900;
}

.promo__title {
    // box model
    margin: 0;
    margin-bottom: 1rem;

    // typography
    font-weight: 600;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    line-height: 1.5;
}

.promo__desc {
    // box model
    margin: 0;

    // typography
    line-height: 1.5;

    strong {
        // typography
        font-weight: 600;
    }
}

.promo__image {
    // positioning
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.promo__image img {
    // box model
    height: 100%;
    width: 100%;

    // object
    object-fit: cover;
}
