.promos {
    // box model
    padding: 20px;
    margin-bottom: 60px;

    @include atTablet {
        // box model
        padding: 30px;
    }
}

.promos__header {

}

.promos__content {
    @include atDesktopM {
        // box model
        padding: 20px calc((100% - 1120px) / 2);
    }
}
