.section-header {
    // box model
    padding-bottom: 40px;

    // typography
    text-align: center;

    @include atDesktopL {
        // box model
        margin: 0 auto;
        max-width: 360px;

        // typography
        text-align: left;
    }
}

.section-header__subtitle {
    // box model
    margin: 0;

    // typography
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    line-height: 1.5;
    text-transform: uppercase;

    @include atDesktopM {
        // typography
        font-size: 1.25rem;
    }
}

.section-header__subtitle em {
    // typography
    color: $red;
    font-style: normal;
}

.section-header__title {
    // box model
    margin: 0;

    // typography
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;

    @include atDesktopM {
        // typography
        font-size: 2.5rem;
    }

    @include atDesktopL {
        // typography
        font-size: 3rem;
        font-weight: 600;
    }
}

.section-header__deco {
    // box model
    height: 60px;

    @include atDesktopL {
        // typography
        text-align: right;
    }
}

.section-header__deco svg {
    // box model
    height: 100%;

    // visual
    fill: $white;
    opacity: 0.75;
}

