.selling-features {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    padding: 20px;

    @include atTablet {
        // box model
        margin-bottom: 60px;
        padding: 40px;
    }

    @include atDesktopS {
        // box model
        margin-bottom: 0;
    }
}

.selling-features__title {
    // box model
    margin: 0;

    // typography
    font-size: 0;
}

.selling-features__content {
    @include atTablet {
        // box model
        display: flex;
        justify-content: space-between;
    }

    @include atDesktopS {
        // box model
    }
}
