.services {
    // box model
    padding: 20px;
    margin-bottom: 60px;

    @include atTablet {
        // box model
        padding: 40px;
    }
}

.services__header {

}

.services__content {
    @include atTablet {
        // box model
        display: flex;
    }

    @include atTablet {
        // box model
        margin: 0 auto;
        width: 100%;
        max-width: 1120px;
    }
}

.services__left {
    @include atTablet {
        // box model
        flex-basis: 33%;
        margin-right: 20px;
    }
}

.services__right {
    @include atTablet {
        // box model
        display: flex;
        width: 100%;
        flex-basis: 66%;
    }
}
