.service {
    // positioning
    position: relative;

    // box model
    margin-bottom: 25px;
    width: 100%;
    
    // visual
    background-color: $darkGrey;
}

.service__header {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 25px;

    // typography
    text-align: center;

    // visual
    background-color: rgba($black, 0.25);
}

.service__deco {
    // box model
    height: 64px;
}

.service__deco svg {
    // box model
    height: 100%;

    // visual
    fill: $white;
}

.service__title {
    // typography
    font-weight: 600;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

.service__subtitle {
    // box model
    margin-bottom: 0;
}

.service__image {
    // positioning
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.service__image img {
    // box model
    height: 100%;
    width: 100%;

    // object
    object-fit: cover;
}
