.yButton {
    // box model
    // display: none;

    @include atDesktopS {
        // box model
        display: block;
    }

    .yButtonBackground {
        // visual
        background-color: rgba($black, 0.9) !important;
        background-image: url('./img/logo-white.svg');
        background-repeat: no-repeat;
        background-size: 64px;
        background-position: top 10px center;
        opacity: 1 !important;
        border: 2px solid rgba($white, 0.5);
    }

    .yButtonText {
        // positioning
        // top: 40px !important;
        bottom: -10px !important;
        top: auto !important;

        // typography
        font-family: $mainFont !important;
        font-size: 0.6rem !important;
        font-weight: 600 !important;
        letter-spacing: 0.025 !important;
        line-height: 1.25 !important;
        text-transform: uppercase;
    }

    .yButtonWave {
        // visual
        border-color: $white !important;
    }
}
