html {
    // typography
    color: $white;
    font-family: $mainFont;
    font-size: 16px;

    // visual
    background-color: $black;

    @include atDesktopL {
        // typography
        font-size: 18px;
    }
}

body {
    // box model
    box-sizing: border-box;

    // visual
    // overflow-x: hidden;
}

*,
*::before,
*::after {
    // box model
    box-sizing: border-box;
}

section {
    // box model
    max-width: 405px;
    margin: 0 auto;

    @include atTablet {
        // box model
        max-width: inherit;
    }
}

.container {
    // box model
    margin: 0 auto;
    width: 100%;
    max-width: 1120px;

    @include atDesktopL {
        // box model
        max-width: 1400px;
    }
}

// main {
//     display: none;
// }

// body::-webkit-scrollbar {
//     // box model
//     width: 8px;

//     & * {
//         background: transparent;
//     }

//     &-thumb {
//         // visual
//         background: $golden;
//         border-radius: 10px;
//     }
    
//     &-track {
//         // visual
//         background: transparent !important;
//     }
// }