<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Local Barbershop

        link(rel="stylesheet", href="styles.css")

    body
        header.header
            .header__top
                .header__logo
                    .logo: img(src="", alt="")

                .header__nav
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item: a(href="#") О нас
                            li.main-nav__item: a(href="#") Услуги
                            li.main-nav__item: a(href="#") Магазин
                            li.main-nav__item: a(href="#") Прайс
                            li.main-nav__item: a(href="#") Мастера
                            li.main-nav__item: a(href="#") Контакты

            .header__content
                .header__caption
                    h1.header__title Local Barbershop
                    p.header__subtitle Современный барбершоп <em>в Кемерово</em>
                    p.header__text Новая стильная мужская парикмахерская уже открыта и ждёт тех, кто ценит стильные причёски и идеальные бороды

                .header__online
                    a.button(href="#") Запись онлайн

        main
            section.selling-features
                h2.selling-features__title Наши приемущества
                .selling-features__content
                    article.feature
                        .feature__icon: img(src="", alt="")
                        h3.feature__title Барбершоп с твоим характером
                        p.feature__desc Local Barbershop - для настоящих ценителей стиля и качества

                    article.feature
                        .feature__icon: img(src="", alt="")
                        h3.feature__title Наша команда профессионалов
                        p.feature__desc Опытные мастера, знающие как подчеркнуть твою индивидуальность

                    article.feature
                        .feature__icon: img(src="", alt="")
                        h3.feature__title Профессиональное оборудование
                        p.feature__desc Только качественное оборудоване и метериалы для превосходного результата

            section.about
                .about__content
                    .about__caption
                        h2.about__title <em>O</em> нашем барбершопе
                        p.about__subtitle Добро пожаловать в Local Barbershop, первый барбершоп с твоим характером
                        p.about__text Мы намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль. Мужские стрижки и бритьё - это наш профиль, и мы уверены, что мы стрижём и бреем лучше всех.
                    .about__photo: img(src="", alt="")
                    .about__more
                        p.about__more-text Мы всегда рады новым друзьям и с нетерпением ждём тебя в гости!
                        a.button(href="#") Узнай больше

            section.price-list
                header.price-list__header
                    .section-header
                        p.section-header__subtitle <em>Наши</em> услуги
                        h2.section-header__title Прайс
                        .section-header__deco: img(src="", alt="")

                .price-list__content
                    table.prices
                        tr.prices__row.prices__row--best
                            td Стрижка мужская <span>Подбор стиля, мытьё головы, укладка</span>
                            td 1100
                        tr.prices__row
                            td Стрижка усов/бороды
                            td 500
                        tr.prices__row.prices__row--best
                            td Бритьё опасным лезвием
                            td 
                        tr.prices__row
                            td
                            td
                        tr.prices__row
                            td
                            td
                        tr.prices__row.prices__row--package
                            td
                            td

            section.promos
                header.promos__header
                    .section-header
                        p.section-header__subtitle <em>Спец</em> предложения
                        h2.section-header__title Наши акции
                        .section-header__deco: img(src="", alt="")

                .promos__content
                    .promos-slider
                        article.promo
                            header.promo__header
                                p.promo__value
                                h3.promo__title
                                p.promo__desc
                            .promo__image: img(src="", alt="")

                        article.promo
                            header.promo__header
                                p.promo__value
                                h3.promo__title
                                p.promo__desc
                            .promo__image: img(src="", alt="")

                        article.promo
                            header.promo__header
                                p.promo__value
                                h3.promo__title
                                p.promo__desc
                            .promo__image: img(src="", alt="")


            section.partners
                header.partners__header
                    .section-header
                        p.section-header__subtitle <em>Мы</em> сотрудничаем
                        h2.section-header__title Наши партнёры
                        .section-header__deco: img(src="", alt="")

                .partners__content


            section.services
                header.services__header
                    .section-header
                        p.section-header__subtitle <em>Мы</em> предлагаем
                        h2.section-header__title Услуги
                        .section-header__deco: img(src="", alt="")

                .services__content


            section.barbers
                header.barbers__header
                    .section-header
                        p.section-header__subtitle <em>Наши</em> барберы
                        h2.section-header__title Мастера
                        .section-header__deco: img(src="", alt="")


            section.contacts


        footer