<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Local Barbershop

        link(rel="stylesheet", href="styles.css")

    body
        header.header
            .header__top
                .header__logo: img(src="./img/logo.svg", alt="Логотип Local Barbershop")

                .header__nav
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item: a(href="#") О нас
                            li.main-nav__item: a(href="#") Услуги
                            li.main-nav__item: a(href="#") Магазин
                            li.main-nav__item: a(href="#") Прайс
                            li.main-nav__item: a(href="#") Мастера
                            li.main-nav__item: a(href="#") Контакты

                .header__menu-button
                    button.menu-button
                        .menu-button--middle

            .header__content
                .header__caption
                    h1.header__title Local Barbershop
                    p.header__subtitle Современный барбершоп <em>в&nbsp;Кемерово</em>
                    p.header__text Новая стильная мужская парикмахерская уже&nbsp;открыта и&nbsp;ждёт тех, кто ценит стильные причёски и&nbsp;идеальные бороды

                .header__online
                    a.button(href="#") Запись онлайн

        main
            section.selling-features
                h2.selling-features__title Наши приемущества
                .selling-features__content
                    article.feature
                        .feature__icon: img(src="./img/icons/barber.svg", alt="")
                        h3.feature__title Барбершоп с твоим характером
                        p.feature__desc Local Barbershop - для настоящих ценителей стиля и качества

                    article.feature
                        .feature__icon: img(src="./img/icons/trophy.svg", alt="")
                        h3.feature__title Наша команда профессионалов
                        p.feature__desc Опытные мастера, знающие как подчеркнуть твою индивидуальность

                    article.feature
                        .feature__icon: img(src="./img/icons/razor.svg", alt="")
                        h3.feature__title Профессиональное оборудование
                        p.feature__desc Только качественное оборудоване и метериалы для превосходного результата

            section.about
                .about__content
                    .about__caption
                        h2.about__title <em>O</em> нашем барбершопе
                        p.about__subtitle Добро пожаловать в Local Barbershop, первый барбершоп с твоим характером
                        p.about__text Мы намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль. Мужские стрижки и бритьё - это наш профиль, и мы уверены, что мы стрижём и бреем лучше всех.
                        .about__more
                            p.about__more-text Мы всегда рады новым друзьям и с нетерпением ждём тебя в гости!
                            //- a.button(href="#") Узнай больше
                    .about__photo
                        img(src="./img/decos/about.jpg", alt="")
                        .about__deco

            section.price-list
                header.price-list__header
                    .section-header
                        p.section-header__subtitle <em>Наши</em> услуги
                        h2.section-header__title Прайс
                        .section-header__deco: img(src="./img/decos/price-list-u.svg", alt="Прайс лист")

                .price-list__content
                    table.prices
                        tr.prices__row
                            td Стрижка мужская
                            td 1100
                        tr.prices__row
                            td Стрижка машинкой
                            td 600
                        tr.prices__row
                            td Стрижка усов/бороды
                            td 400-500
                        tr.prices__row
                            td Оформление бороды
                            td 600
                        tr.prices__row.prices__row--best
                            td Бритьё опасным лезвием
                            td 1000-1500
                        tr.prices__row
                            td Стрижка и бритьё
                            td 1900
                        tr.prices__row
                            td Оформление бороды опасным лезвием
                            td 800
                        tr.prices__row
                            td Детская стрижка (до&nbsp;12&nbsp;лет)
                            td 700
                        tr.prices__row
                            td Бритьё головы опасным лезвием
                            td 1300
                        tr.prices__row
                            td Вечерний стайлинг
                            td 300
                        tr.prices__row
                            td Тонирование волос
                            td 1200
                        tr.prices__row
                            td Тонирование бороды
                            td 600
                        tr.prices__row
                            td Отец + сын
                            td 1500
                        tr.prices__row
                            td Хэйр тату
                            td 700
                        tr.prices__row
                            td Укладка и окантовка
                            td 600

            section.promos
                header.promos__header
                    .section-header
                        p.section-header__subtitle <em>Спец</em> предложения
                        h2.section-header__title Наши акции
                        .section-header__deco: img(src="./img/decos/best-offer-u.svg", alt="Лучшие предложения")

                .promos__content
                    .promos-slider
                        article.promo
                            header.promo__header
                                p.promo__value -50%
                                h3.promo__title Grand Opening
                                p.promo__desc В день открытия на любую услугу
                            .promo__image: img(src="", alt="")

                        article.promo
                            header.promo__header
                                p.promo__value -30%
                                h3.promo__title Первое посещение
                                p.promo__desc Скидка на услуги при первом посещени барбершопа
                            .promo__image: img(src="", alt="")

                        article.promo
                            header.promo__header
                                p.promo__value -17%
                                h3.promo__title Отец + Сын
                                p.promo__desc Стрижка у одного мастера со&nbsp;скидкой
                            .promo__image: img(src="", alt="")


            section.partners
                header.partners__header
                    .section-header
                        p.section-header__subtitle <em>Мы</em> сотрудничаем
                        h2.section-header__title Наши партнёры
                        .section-header__deco: img(src="./img/decos/our-partners-u.svg", alt="Наши партнёры")

                .partners__content
                    article.partner: img(src="./img/partners/siberian-loft.png", alt="Siberian Losft Logo")
                    article.partner: img(src="./img/partners/wahl.png", alt="WAHL Logo")
                    article.partner: img(src="./img/partners/barber-express.png", alt="Barber Express Logo")
                    article.partner: img(src="./img/partners/tnh.png", alt="Truefitt & Hill Logo")
                    article.partner: img(src="./img/partners/morgans-pomades.png", alt="Morgans Pomades Logo")

            section.services
                header.services__header
                    .section-header
                        p.section-header__subtitle <em>Мы</em> предлагаем
                        h2.section-header__title Услуги
                        .section-header__deco: img(src="./img/decos/services-u.svg", alt="Наши услуги")

                .services__content
                    article.service
                        header.service__header
                            .service__deco: img(src="./img/decos/shaving.svg", alt="Бритьё")
                            h3.service__title Бритьё
                            p.service__subtitle Классическое и королевское
                        .service__image: img(src="", alt="")

                    article.service
                        header.service__header
                            .service__deco: img(src="./img/decos/mens-goods.svg", alt="Уход")
                            h3.service__title Уход
                            p.service__subtitle За лицом и кожей рук
                        .service__image: img(src="", alt="")

                    article.service
                        header.service__header
                            .service__deco: img(src="./img/decos/haircut.svg", alt="Стрижки")
                            h3.service__title Стрижки
                            p.service__subtitle Мужские и детские
                        .service__image: img(src="", alt="")

            section.barbers
                header.barbers__header
                    .section-header
                        p.section-header__subtitle <em>Наши</em> барберы
                        h2.section-header__title Мастера
                        .section-header__deco: img(src="./img/decos/barbers-u.svg", alt="Барберы")

                .barbers__content
                    article.barber
                        header.barber__header
                            h3.barber__name Олег
                            p.barber__position Барбер
                        .barber__photo: img(src="", alt="")

                    article.barber
                        header.barber__header
                            h3.barber__name Юрий
                            p.barber__position Барбер
                        .barber__photo: img(src="", alt="")

                    article.barber
                        header.barber__header
                            h3.barber__name Тимофей
                            p.barber__position Барбер
                        .barber__photo: img(src="", alt="")


            section.contacts
                .contacts__map
                .contacts__card
                    .c-card
                        .c-card__image: img(src="./img/logo-black.svg", alt="")
                        .c-card__caption
                            h2.c-card__title <em>Наши</em> Контакты
                            p.c-card__text По всем, интересующим Вас, вопросам, Вы можете обратиться к менеджеру по телефону или отправить нам письмо на электронный адрес.
                            p.c-card__subtitle До встречи в&nbsp;LOCAL&nbsp;BARBERSHOP
                            .c-card__deco: img(src="./img/decos/mens-goods.svg", alt="Men's goods deco")
                        .c-card__contacts
                            h3.c-card__c-name Режим работы
                            p.c-card__c-value
                                span ПН.-ВС.: 10:00 - 20:00
                            .c-card__c-group
                                h3.c-card__c-name Телефон
                                p.c-card__c-value: a(href="tel:+79236294797") +7 923 629-47-97
                                h3.c-card__c-name E-mail
                                p.c-card__c-value: a(href="mailto:manager@localbarber.ru") manager@localbarber.ru
                            h3.c-card__c-name Адрес
                            p.c-card__c-value г. Кемерово, по.&nbsp;Октябрьский&nbsp;2Б, 1 этаж


        footer.footer
            .footer__brand-n-nav
                .footer__branding
                    .footer__logo: img(src="./img/logo.svg", alt="Логотип Local Barbershop")
                    p.footer__motto Барбершоп с&nbsp;твоим характером
                    p.footer__copy &copy; 2019 Local Barbershop
                nav.footer__nav
                    ul.footer-menu
                        li.footer-menu__item: a(href="#") О нас
                        li.footer-menu__item: a(href="#") Прайс
                        li.footer-menu__item: a(href="#") Акции
                        li.footer-menu__item: a(href="#") Партнёры
                        li.footer-menu__item: a(href="#") Услуги
                        li.footer-menu__item: a(href="#") Мастера
            .footer__contacts-n-legals
                .footer__contacts
                    .footer-contact <strong>г.Кемерово</strong> <br>по. Октябрьский 2Б, 1 этаж
                    .footer-contact <em>Телефон:</em> <a href="tel:+79236294797">+7 923 629-47-97</a> <br><em>E-mail:</em> <a href="mailto:manager@localbarber.ru">manager@localbarber.ru</a>
                .footer__legals
                    .footer__legals-item <a href="">Политика конфиденциальности</a> в&nbsp;отношении обработки данных получаемых сайтом
                    .footer__legals-item Оставаясь на сайте пользователь обязуется соблюдать <a href="">пользовательское соглашение</a>
            p.footer__copy &copy; 2019 Local Barbershop
