<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Loclame Barbershop

    link(rel="stylesheet", href="styles.css?v=6")

    include ./modules/_favicon.pug


    <script src="https://api-maps.yandex.ru/2.1/?apikey=7206f160-54d3-4664-881c-733097536e51&lang=ru_RU" type="text/javascript">
    </script>

  body
    header.header
      .header__top
        .header__logo: img(src="./img/logo.svg", alt="Логотип Loclame Barbershop") 

        .header__nav
          nav.main-nav
            ul.main-nav__list
              li.main-nav__item: a(href="#about") О нас
              //- li.main-nav__item: a(href="#") Магазин
              li.main-nav__item: a(href="#price") Прайс
              li.main-nav__item: a(href="#promos") Aкции
              li.main-nav__item: a(href="#services") Услуги
              //- li.main-nav__item: a(href="#barbers") Мастера
              li.main-nav__item: a(href="#contacts") Контакты

        .header__menu-button
          //- button.menu-button.menu-button--x-close
          button.menu-button
            .menu-button--middle

      .header__content
        .header__caption
          h1.header__title Loclame Barbershop
          p.header__subtitle Современный барбершоп <em>в&nbsp;Кемерово</em>
          p.header__text Новая стильная мужская парикмахерская уже&nbsp;открыта и&nbsp;ждёт тех, кто ценит стильные причёски и&nbsp;идеальные бороды

        .header__online
          a.button.ms_booking(href="#") Запись онлайн

      .header__social
        //- a.header__social-link(href="https://www.instagram.com/local_barbershop/") 
          p.header__social-text instagram
          img.header__social-icon(src="./img/icons/instagram.svg", alt="instagram") 

        a.header__social-link(href="https://vk.com/loclame_barbershop") 
          p.header__social-text vkontakte
          img.header__social-icon(src="./img/icons/vk.svg", alt="vkontakte") 

    main
      //- section.mobile
        header.mobile__header
          .mobile__caption
            p.mobile__subtitle <em>Установите</em> специальное
            h2.mobile__title мобильное приложение

          .mobile__buttons
            a.mobile-button.mobile-button--ios(href="#") APP STORE
            a.mobile-button.mobile-button--android(href="#") Google Play

        .mobile__deco
          p.mobile__for для удобной <span>on-line записи</span>
          .mobile__image: img(src="./img/decos/mobile.png", alt="Мобильное приложение")

      section.selling-features
        h2.selling-features__title Наши приемущества
        .container
          .selling-features__content
            article.feature
              .feature__icon: img(src="./img/icons/barber.svg", alt="") 
              h3.feature__title Барбершоп с твоим характером
              p.feature__desc Loclame Barbershop — для&nbsp;настоящих ценителей стиля и&nbsp;качества

            article.feature
              .feature__icon: img(src="./img/icons/trophy.svg", alt="") 
              h3.feature__title Наша команда профессионалов
              p.feature__desc Опытные мастера, знающие как&nbsp;подчеркнуть твою индивидуальность

            article.feature
              .feature__icon: img(src="./img/icons/razor.svg", alt="") 
              h3.feature__title Профессиональное оборудование
              p.feature__desc Только качественное оборудоване и&nbsp;метериалы для&nbsp;превосходного результата

      section.about#about
        .container
          .about__content
            .about__caption
              h2.about__title <em>O</em> нашем барбершопе
              p.about__subtitle Добро пожаловать в Loclame Barbershop, первый барбершоп с твоим характером
              p.about__text Мы намного больше, чем просто мужская парикмахерская, это&nbsp;даже больше, чем мужской клуб по интересам, это именно то&nbsp;место, где ты найдёшь себя и свой стиль. Мужские стрижки и&nbsp;бритьё - это наш профиль, и мы уверены, что мы стрижём и&nbsp;бреем лучше всех.
              .about__more
                p.about__more-text Мы всегда рады новым друзьям и с нетерпением ждём&nbsp;тебя в гости!
                //- a.button(href="#") Узнай больше
            .about__photo
              img(src="./img/decos/about.jpg", alt="")
              .about__deco

      section.price-list#price
        header.price-list__header
          .section-header
            p.section-header__subtitle <em>Наши</em> услуги
            h2.section-header__title Прайс
            .section-header__deco: img(src="./img/decos/price-list-u.svg", alt="Прайс лист") 

        .price-list__content
          table.prices
            tr.prices__row
              td Стрижка мужская
              td 1&thinsp;300
            tr.prices__row
              td Стрижка машинкой <em>(2-3 насадки, без применения ножниц)</em>
              td 1000
            tr.prices__row
              td Оформление бороды машинкой
              td 600 — 800
            tr.prices__row
              td Бритьё бороды опасным лезвием
              td 1&thinsp;000
            tr.prices__row
              td Стрижка + оформление бороды машинкой
              td 1&thinsp;700 — 2&thinsp;000
            tr.prices__row
              td Стрижка детская <em>(до&nbsp;12&nbsp;лет)</em>
              td 1000
            tr.prices__row
              td Укладка
              td 350
            tr.prices__row
              td Камуфляж седины (голова)
              td 1&thinsp;200
            tr.prices__row
              td Камуфляж седины (борода)
              td 800
            tr.prices__row
              td Хайр тату
              td от 300
            tr.prices__row
              td Окантовка и укладка
              td 600
            tr.prices__row
              td Друг + Друг
              td 2&thinsp;400
            //- tr.prices__row
              td Отец + сын
              td 2&thinsp;300
            tr.prices__row
              td Мытьё головы
              td 400
            tr.prices__row
              td Стрижка + бритьё опасным лезвием
              td 2&thinsp;000
            tr.prices__row
              td Бритьё головы опасным лезвием
              td 1&thinsp;700
            tr.prices__row
              td Удаление волос воском. <em>(нос + уши + коррекция бровей)</em>
              td 250
            tr.prices__row
              td Пилинг <em>(уход за кожей головы + массаж кожи головы)</em>
              td от 600
            tr.prices__row
              td Био завивка
              td от 2&thinsp;500

      section.promos#promos
        header.promos__header
          .section-header
            p.section-header__subtitle <em>Спец</em> предложения
            h2.section-header__title Наши акции
            .section-header__deco: img(src="./img/decos/best-offer-u.svg", alt="Лучшие предложения")

        .promos__content
          .promos-slider
            article.promo
              header.promo__header
                p.promo__value 2&thinsp;400₽
                .promo__caption
                  h3.promo__title Друг + Друг
                  p.promo__desc Стригитесь сами и&nbsp;приводите друзей. <br />Вместе веселее и&nbsp;дешевле.
              .promo__image: img(src="./img/promos/promo2.jpg", alt="")

            //- article.promo
              header.promo__header
                p.promo__value 850₽
                .promo__caption
                  h3.promo__title Стрижка студентам
                  p.promo__desc Стрижка для&nbsp;студентов очной формы обучения. Акция проходит по&nbsp;<strong>вторникам</strong> <br>(По&nbsp;предъявлению студенческого билета)
              .promo__image: img(src="./img/promos/promo1.jpg", alt="")

            //- article.promo
            //-     header.promo__header
            //-         p.promo__value 2&thinsp;300₽
            //-         .promo__caption
            //-             h3.promo__title Отец + Сын
            //-             p.promo__desc Стрижка у одного мастера со&nbsp;скидкой
            //-     .promo__image: img(src="./img/promos/promo3.jpg", alt="")

      section.partners#partners
        header.partners__header
          .section-header
            p.section-header__subtitle <em>Мы</em> сотрудничаем
            h2.section-header__title Наши партнёры
            .section-header__deco: img(src="./img/decos/our-partners-u.svg", alt="Наши партнёры")

        .partners__content
          article.partner: img(src="./img/partners/siberian-loft.png", alt="Siberian Losft Logo")
          article.partner: img(src="./img/partners/wahl.png", alt="WAHL Logo")
          article.partner: img(src="./img/partners/barber-express.png", alt="Barber Express Logo")
          article.partner: img(src="./img/partners/tnh.png", alt="Truefitt & Hill Logo")
          article.partner: img(src="./img/partners/morgans-pomades.png", alt="Morgans Pomades Logo")

      section.services#services
        header.services__header
          .section-header
            p.section-header__subtitle <em>Мы</em> предлагаем
            h2.section-header__title Услуги
            .section-header__deco: img(src="./img/decos/services-u.svg", alt="Наши услуги")

        .services__content
          .services__left
            article.service
              header.service__header
                .service__deco: img(src="./img/decos/shaving.svg", alt="Бритьё")
                h3.service__title Бритьё
                p.service__subtitle Классическое, опасной бритвой
              .service__image: img(src="./img/bgs/shaving.jpg", alt="Бритьё")

            article.service
              header.service__header
                .service__deco: img(src="./img/decos/mens-goods.svg", alt="Уход")
                h3.service__title Косметика
                p.service__subtitle Для ухода за волосами головы и&nbsp;бородой
              .service__image: img(src="./img/bgs/goods.jpg", alt="Товады для ухода")

          .services__right
            article.service
              header.service__header
                .service__deco: img(src="./img/decos/haircut.svg", alt="Стрижки")
                h3.service__title Стрижки
                p.service__subtitle Мужские и детские
              .service__image: img(src="./img/bgs/haircut.jpg", alt="Стрижки")

      //- section.barbers#barbers
        header.barbers__header
          .section-header
            p.section-header__subtitle <em>Наши</em> барберы
            h2.section-header__title Мастера
            .section-header__deco: img(src="./img/decos/barbers-u.svg", alt="Барберы")

        .barbers__content
          article.barber
            header.barber__header
              h3.barber__name Олег
              p.barber__position Барбер
            .barber__photo: img(src="", alt="")

          article.barber
            header.barber__header
              h3.barber__name Юрий
              p.barber__position Барбер
            .barber__photo: img(src="", alt="")

          article.barber
            header.barber__header
              h3.barber__name Тимофей
              p.barber__position Барбер
            .barber__photo: img(src="", alt="")


      section.contacts#contacts
        .contacts__map 
        .contacts__card 
          .c-card
            .c-card__image: img(src="./img/logo-black.svg", alt="")
            .c-card__caption
              h2.c-card__title <em>Наши</em> Контакты
              p.c-card__text По всем, интересующим Вас, вопросам, Вы можете обратиться к менеджеру по телефону или отправить нам письмо на электронный адрес.
              p.c-card__subtitle До встречи в&nbsp;LOCLAME&nbsp;BARBERSHOP
              .c-card__deco: img(src="./img/decos/mens-goods.svg", alt="Men's goods deco") 
            .c-card__contacts
              h3.c-card__c-name Режим работы
              p.c-card__c-value
                span ПН.-ВС.: 10:00 - 20:00
              .c-card__c-group
                h3.c-card__c-name Телефон
                p.c-card__c-value: a(href="tel:+79236294797") +7 923 629-47-97
                h3.c-card__c-name E-mail
                p.c-card__c-value: a(href="mailto:localbarber@bk.ru") localbarber@bk.ru
              h3.c-card__c-name Адрес
              p.c-card__c-value г. Кемерово, ул.&nbsp;Красная&nbsp;15


    footer.footer
      .footer__brand-n-nav
        .footer__branding
          .footer__logo: img(src="./img/logo.svg", alt="Логотип Loclame Barbershop")
          p.footer__motto Барбершоп с&nbsp;твоим характером
        nav.footer__nav
          ul.footer-menu
            li.footer-menu__item: a(href="#about") О нас
            li.footer-menu__item: a(href="#price") Прайс
            li.footer-menu__item: a(href="#promos") Акции
            li.footer-menu__item: a(href="#partners") Партнёры
            li.footer-menu__item: a(href="#services") Услуги
            //- li.footer-menu__item: a(href="#") Мастера
      .footer__contacts-n-legals
        .footer__contacts
          .footer-contact <strong>г.Кемерово</strong> <br>ул. Красная, 15
          .footer-contact <em>Телефон:</em> <a href="tel:+79236294797">+7 923 629-47-97</a> <br><em>E-mail:</em> <a href="mailto:localbarber@bk.ru">localbarber@bk.ru</a>
        //- .footer__legals
          .footer__legals-item <a href="">Политика конфиденциальности</a> в&nbsp;отношении обработки данных получаемых сайтом
          .footer__legals-item Оставаясь на сайте пользователь соблюдать <a href="">пользовательское соглашение</a>
        p.footer__copy &copy; 2019—2024 Loclame Barbershop

    script(src="scripts.js?v=5") 
    script(src="https://w247743.yclients.com/widgetJS") 
