@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

html {
  color: #ffffff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #0a0a0a; }

body {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: border-box; }

section {
  max-width: 405px;
  margin: 0 auto; }
  @media (min-width: 700px) {
    section {
      max-width: inherit; } }

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Black.woff2") format("woff2"), url("./fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2"), url("./fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-SemiBold.woff2") format("woff2"), url("./fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

.header {
  padding: 20px;
  padding-bottom: 120px;
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./img/bgs/header-s.jpg");
  background-position: top right -280px;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 700px) {
    .header {
      padding: 40px;
      padding-bottom: 80px;
      height: calc(100vh - 340px);
      background-position: top right;
      background-size: 140%; } }

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  flex-grow: 0;
  background-image: url("./img/decos/premium-quality.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }
  @media (min-width: 700px) {
    .header__top {
      padding-bottom: 20px;
      background-position: bottom left 60px;
      background-size: 160px; } }

.header__logo {
  height: 72px; }
  @media (min-width: 700px) {
    .header__logo {
      height: 100px; } }

.header__logo img,
.header__logo svg {
  height: 100%; }

.header__nav {
  position: fixed;
  display: none; }

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 10; }

.header__caption {
  margin-bottom: 40px;
  max-width: 300px; }
  @media (min-width: 700px) {
    .header__caption {
      max-width: 450px; } }

.header__title {
  margin: 0;
  margin-bottom: 0.25em;
  font-size: 2rem;
  letter-spacing: 0.025em;
  text-transform: uppercase; }
  @media (min-width: 700px) {
    .header__title {
      font-size: 3rem; } }

.header__subtitle {
  margin: 0;
  margin-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  line-height: 1.4;
  text-transform: uppercase; }

.header__subtitle em {
  color: #e30e2a;
  font-style: normal; }

.header__text {
  margin: 0;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5; }

.header__online {
  position: relative;
  padding-bottom: 50px;
  text-align: center; }

.header__online::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 220px;
  height: 100px;
  background-image: url("./img/decos/like-a-sir-u.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none; }

.menu-button {
  position: relative;
  height: 48px;
  width: 48px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 50%; }

.menu-button::before,
.menu-button::after {
  content: ''; }

.menu-button::before,
.menu-button--middle,
.menu-button::after {
  position: absolute;
  left: 13px;
  height: 3px;
  width: 20px;
  background-color: #ffffff; }

.menu-button::before {
  top: 15px; }

.menu-button--middle {
  top: 22px; }

.menu-button::after {
  top: 29px; }

.button {
  display: inline-block;
  padding: 0 45px;
  color: #0a0a0a;
  font-weight: 600;
  letter-spacing: 0.025em;
  line-height: 51px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffffff;
  transition: all 0.25s ease-out;
  border: 2px solid #ffffff;
  border-radius: 27px; }

.button:hover {
  color: #ffffff;
  background-color: transparent;
  border-color: #949698; }

.selling-features {
  padding: 20px; }
  @media (min-width: 700px) {
    .selling-features {
      padding: 40px; } }

.selling-features__title {
  margin: 0;
  font-size: 0; }

@media (min-width: 700px) {
  .selling-features__content {
    display: flex; } }

.feature {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 280px;
  text-align: center; }
  @media (min-width: 700px) {
    .feature {
      padding: 0 10px;
      flex-basis: 250px; } }

.feature__icon {
  height: 72px;
  margin-bottom: 1rem; }

.feature__icon svg {
  height: 100%;
  fill: #949698; }

.feature__title {
  margin: 0;
  margin-bottom: 0.25em;
  font-weight: 600;
  letter-spacing: 0.025em;
  line-height: 1.5;
  text-transform: uppercase; }
  @media (min-width: 700px) {
    .feature__title {
      font-size: 0.75rem; } }

.feature__desc {
  margin: 0;
  color: #949698;
  line-height: 1.5; }
  @media (min-width: 700px) {
    .feature__desc {
      font-size: 0.85rem; } }

.about {
  padding: 20px;
  padding-bottom: 200px;
  margin-bottom: -160px;
  background-image: url("./img/bgs/about-s.jpg");
  background-size: cover;
  background-position: center center; }
  @media (min-width: 700px) {
    .about {
      padding: 40px;
      padding-bottom: 80px; } }

@media (min-width: 700px) {
  .about__content {
    display: flex;
    justify-content: space-between; } }

.about__caption {
  margin-bottom: 40px; }
  @media (min-width: 700px) {
    .about__caption {
      flex-basis: 47.5%; } }

.about__title {
  color: #949698;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 700px) {
    .about__title {
      text-align: left; } }

.about__title em {
  color: #e30e2a;
  font-style: normal; }

.about__subtitle {
  font-weight: 600;
  letter-spacing: 0.025em;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 700px) {
    .about__subtitle {
      text-align: left; } }

.about__text {
  padding-left: 21px;
  line-height: 1.5;
  border-left: 1px solid #e30e2a; }

.about__photo {
  position: relative;
  height: 100vw;
  max-height: 400px;
  margin: 0 -20px;
  margin-bottom: 40px; }
  @media (min-width: 700px) {
    .about__photo {
      flex-basis: 47.5%;
      margin: 0; } }

.about__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.about__deco {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  top: 20px;
  border: 2px solid #ffffff; }

.about__deco::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 20px;
  height: 84px;
  width: 84px;
  background-image: url("./img/logo-white.svg");
  background-repeat: no-repeat;
  background-position: center center; }

.about__deco::after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 64px;
  width: 240px;
  background-image: url("./img/decos/beard-bro-u.svg");
  background-repeat: no-repeat;
  background-size: contain; }

.about__more {
  text-align: center; }
  @media (min-width: 700px) {
    .about__more {
      text-align: left; } }

.about__more-text {
  margin-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  line-height: 1.5;
  text-transform: uppercase; }

.price-list {
  padding: 20px;
  margin-bottom: 60px; }
  @media (min-width: 700px) {
    .price-list {
      padding: 40px; } }

.section-header {
  padding-bottom: 40px;
  text-align: center; }

.section-header__subtitle {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  line-height: 1.5;
  text-transform: uppercase; }

.section-header__subtitle em {
  color: #e30e2a;
  font-style: normal; }

.section-header__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase; }

.section-header__deco {
  height: 60px; }

.section-header__deco svg {
  height: 100%;
  fill: #ffffff;
  opacity: 0.75; }

.prices {
  width: 100%;
  border-collapse: collapse; }

.prices td:first-child {
  padding: 0;
  padding-bottom: 5px;
  padding-top: 20px;
  padding-right: 20px;
  vertical-align: top;
  font-weight: 600;
  line-height: 1.25;
  border-bottom: 1px solid #343435; }

.prices td:last-child {
  padding: 0;
  padding-bottom: 5px;
  padding-top: 20px;
  vertical-align: top;
  white-space: nowrap;
  font-weight: 600;
  line-height: 1.25;
  text-align: right;
  border-bottom: 1px solid #343435; }

.prices td:last-child::after {
  content: " ₽"; }

.promos {
  padding: 20px;
  margin-bottom: 60px; }

.promo {
  position: relative;
  padding: 25px 25px;
  margin-bottom: 25px;
  text-align: center;
  background-color: #343435; }

.promo__header {
  position: relative; }

.promo__value {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 900; }

.promo__title {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  line-height: 1.5; }

.promo__desc {
  margin: 0;
  line-height: 1.5; }

.promo__image {
  position: absolute; }

.partners {
  padding: 20px;
  margin-bottom: 60px; }
  @media (min-width: 700px) {
    .partners {
      padding: 40px; } }

.partners__header {
  margin-bottom: 20px; }

.partners__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 360px;
  margin: 0 auto; }
  @media (min-width: 700px) {
    .partners__content {
      justify-content: center;
      max-width: inherit; } }

.partner {
  flex-basis: 45%;
  margin-bottom: 20px;
  height: 100px;
  text-align: center;
  opacity: 0.65;
  transition: all 0.25s ease-out; }
  @media (min-width: 700px) {
    .partner {
      flex-basis: 220px;
      padding: 0 20px; } }

.partner:hover {
  opacity: 1; }

.partner img {
  height: 100%;
  max-width: 100%;
  object-position: center;
  object-fit: contain; }

.services {
  padding: 20px;
  margin-bottom: 60px; }
  @media (min-width: 700px) {
    .services {
      padding: 40px; } }

@media (min-width: 700px) {
  .services__content {
    display: flex; } }

@media (min-width: 700px) {
  .services__left {
    flex-basis: 33%;
    margin-right: 20px; } }

@media (min-width: 700px) {
  .services__right {
    display: flex;
    width: 100%;
    flex-basis: 66%; } }

.service {
  position: relative;
  margin-bottom: 25px;
  width: 100%;
  background-color: #343435; }

.service__header {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 25px;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.25); }

.service__deco {
  height: 64px; }

.service__deco svg {
  height: 100%;
  fill: #ffffff; }

.service__title {
  font-weight: 600;
  letter-spacing: 0.025em;
  text-transform: uppercase; }

.service__subtitle {
  margin-bottom: 0; }

.service__image {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }

.service__image img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.barbers {
  padding: 20px;
  margin-bottom: 50px; }

.barber {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 25px;
  height: 100vw;
  max-height: 400px;
  max-width: 335px;
  background-color: #343435; }

.barber__header {
  position: relative;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid #ffffff; }

.barber__header::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  height: 64px;
  width: 64px;
  background-image: url("./img/logo-white.svg");
  background-repeat: no-repeat;
  background-position: center right; }

.barber__name {
  margin: 0;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase; }

.barber__position {
  margin: 0;
  text-transform: uppercase; }

.barber__photo {
  position: absolute; }

.c-card {
  margin: 20px;
  padding: 50px 25px;
  color: #0a0a0a;
  text-align: center;
  background-color: #ffffff; }

.c-card__image {
  height: 92px;
  margin-bottom: 20px;
  text-align: center; }

.c-card__image svg {
  height: 100%; }

.c-card__caption {
  margin-bottom: 60px; }

.c-card__title {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-transform: uppercase; }

.c-card__title em {
  color: #e30e2a;
  font-style: normal; }

.c-card__text {
  line-height: 1.5; }

.c-card__subtitle {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.025em; }

.c-card__deco {
  height: 52px;
  margin-top: -10px;
  opacity: 0.5; }

.c-card__deco svg {
  height: 100%; }

.c-card__c-name {
  margin: 0;
  margin-bottom: 0.25rem;
  font-weight: 600;
  line-height: 1.5; }

.c-card__c-value {
  margin: 0;
  margin-bottom: 1rem;
  color: #949698;
  font-weight: 600;
  line-height: 1.5; }

.c-card__c-value a {
  color: #949698; }

.c-card__c-value a:hover {
  color: #e30e2a;
  text-decoration: none; }

.footer {
  padding: 20px;
  padding-top: 50px;
  background-image: url("./img/bgs/footer-s.jpg");
  background-size: cover;
  background-position: center center; }

.footer__brand-n-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px; }

.footer__branding {
  flex-basis: 45%;
  text-align: center; }

.footer__branding .footer__copy {
  display: none; }

.footer__logo {
  height: 100px;
  margin-bottom: 1rem; }

.footer__logo svg {
  height: 100%; }

.footer__motto {
  margin: 0;
  color: #949698;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase; }

.footer__copy {
  color: #949698;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase; }

.footer__nav {
  flex-basis: 45%; }

.footer__contacts-n-legals {
  margin-bottom: 60px; }

.footer__contacts {
  padding-bottom: 14px;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #343435; }

.footer__legals {
  font-size: 0.75rem; }

.footer__legals-item {
  margin-bottom: 1rem;
  text-align: center;
  line-height: 1.5; }

.footer__legals-item a {
  color: #ffffff; }

.footer__legals-item a:hover {
  color: #e30e2a;
  text-decoration: none; }

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  margin: 0;
  margin-top: -3px;
  padding: 0;
  text-align: center;
  list-style: none; }

.footer-menu__item {
  padding: 6px; }

.footer-menu__item a {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none; }

.footer-menu__item a:hover {
  text-decoration: underline; }

.footer-contact {
  margin-bottom: 1rem;
  line-height: 1.5; }

.footer-contact em {
  color: #e30e2a;
  font-style: normal;
  text-decoration: none; }

.footer-contact a {
  color: #ffffff;
  text-decoration: none; }

.footer-contact a:hover {
  text-decoration: underline; }
